node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.*.php
.DS_Store
Thumbs.db
*.pem
*.key
data/mysql
.editorconfig
.vscode
.idea
*.log
storage/logs
bootstrap/cache
vendor/laravel/sail
vendor/mockery
vendor/phpunit
.phpunit.result.cache
